.section {
  composes: ml-10 from global;
  display: inline-block;
  max-width: 600px;
  min-width: 600px;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.listContainer {
  composes: mt-25 ml-4 from global;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
