.section {
    display: inline-block;
    max-width: 600px;
    min-width: 600px;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.selectedList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectedItem {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure selected item takes full width */
}

.listScrollable{
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}