.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 20px;
  padding: 0;
}

.group {
  composes: mb-10 mr-10 from global;
}

.groupName {
  composes: text text_type_main-medium from global;
}