.header {
    background-color: #1C1C21;
    box-sizing: border-box;
}
  
.navContainer {
    composes: pt-4 pb-4 from global;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}
